@charset "UTF-8";
/*Import*/
/* Utilizando variables para las vistas */
/* Mapa */
/* Creando clase para extender en input de contacto */
.styleContactInput, .entradas input, .entradas select, .entradas textarea {
  margin-left: 10px;
  border: solid 3px #5e97ac;
  font-size: 2rem; }

.bannerOpacity, .bannerOfertas::before, .bannerOfertas2::before, .bannerOfertas3::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%; }

.banner, .bannerOfertas, .bannerOfertas2, .bannerOfertas3 {
  width: 100%;
  height: 300px;
  background-size: cover;
  position: relative; }
  .banner h1, .bannerOfertas h1, .bannerOfertas2 h1, .bannerOfertas3 h1 {
    position: relative; }
  .banner ul, .bannerOfertas ul, .bannerOfertas2 ul, .bannerOfertas3 ul {
    margin-top: 15px; }
  .banner li, .bannerOfertas li, .bannerOfertas2 li, .bannerOfertas3 li {
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    list-style-type: none;
    position: relative; }
  .banner a, .bannerOfertas a, .bannerOfertas2 a, .bannerOfertas3 a {
    text-decoration: none;
    color: black; }

/* Creando un Mixin */
/* Se incorporan en todos los bloques de css que tengan valores en Margin y Padding */
header {
  background: linear-gradient(to right, #75bdd1 17%, #75bdd1 31%, #5e97ac 49%, #37556d 80%);
  position: sticky;
  top: 0px;
  z-index: 999; }

.navPad {
  text-align: right; }

nav ul {
  margin-left: 40px; }

nav ul li {
  list-style-type: none;
  margin: 0px 20px; }
  nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.9rem; }

.linkLogo {
  padding-left: 50px; }

.logoFont {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  padding: 50px, 0px; }

.buscador {
  border-radius: 20px;
  height: 30px;
  width: 100%;
  font-size: 2rem; }

.btnBuscador {
  background-color: #37556d; }

.separarIconos {
  padding-right: 30px; }

.redes {
  margin: 10px; }
  .redes img {
    transition: height 1s; }
    .redes img:hover {
      height: 30px; }

/* -------------------------Diseño adaptado a tablet--------------------- */
@media screen and (max-width: 1200px) {
  /*Header*/
  .buscador {
    display: none; }
  .btnBuscador {
    display: none; }
  .redes {
    display: none; }
  nav ul {
    margin-left: 0px; }
  .menuHam {
    font-size: 25px; }
  nav ul li {
    text-align: left;
    list-style-type: none;
    margin: 8px 0PX;
    border: solid 3px white; }
    nav ul li:hover {
      border: solid 3px #5e97ac; } }

/*------------------- Diseño adaptado para celular-------------------- */
@media screen and (max-width: 768px) {
  .logoFont {
    font-size: 1.9rem; }
  .linkLogo {
    width: auto;
    transform: scale(0.6); }
  .menuHam {
    font-size: 25px; }
  nav ul li {
    text-align: left;
    list-style-type: none;
    margin: 8px 0PX;
    border: solid 3px white; }
    nav ul li:hover {
      border: solid 3px #5e97ac; }
  nav ul li a {
    font-size: 3rem; }
  .buscador {
    display: none; }
  .btnBuscador {
    display: none; }
  .redes {
    display: none; } }

/*Footer*/
footer {
  background: linear-gradient(to right, #75bdd1 17%, #75bdd1 31%, #5e97ac 49%, #37556d 80%);
  font-size: 1.5em;
  text-align: center;
  padding: 60px 0px; }
  footer li {
    margin-top: 10px;
    list-style-type: none;
    font-size: 1.5;
    font-family: 'Orbitron', sans-serif; }
  footer a {
    color: black; }
  footer img {
    transition: height 1s; }
    footer img:hover {
      height: 30px; }

.linea {
  border-top: solid 3px white;
  padding-bottom: 3%; }

.lineaBaja {
  border-top: solid 3px white;
  margin-top: 2%; }

/* ------------------------Diseño adaptado para celulares----------------------- */
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: start; }
    footer div {
      margin-top: 30px; }
  .footerMargin {
    margin-top: 25px; } }

/*Reset*/
* {
  margin: 0px;
  padding: 0px; }

/*Tipo y tamaño de fuentes*/
html {
  font-size: 62.5%; }

h1 {
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif; }

h2 {
  font-size: 2.7rem;
  font-family: 'Orbitron', sans-serif; }

h4 {
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif; }

p {
  font-size: 2.1rem;
  font-family: 'Orbitron', sans-serif; }

a {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem; }

/* Sección Presentación del sitio*/
.presentacion {
  justify-content: space-around;
  background-image: url(https://www.echeverrimontes.com/hubfs/Ventajas%20y%20desventajas%20de%20la%20dom%C3%B3tica.png);
  align-items: center;
  background-size: cover;
  height: 800px;
  text-align: center; }

.presentacionTitulo {
  width: 30%;
  text-align: center; }

.presentacion p {
  position: relative;
  bottom: 110px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 70px;
  padding: 10px 30px; }

/*Sección argumentación*/
.argumento {
  line-height: 2;
  background: linear-gradient(to right, #75bdd1 17%, #75bdd1 31%, #5e97ac 49%, #37556d 80%);
  text-align: center; }
  .argumento h1 {
    margin: 10% 0px 10px 0px;
    padding: 0px 30px; }
  .argumento p {
    text-align: justify;
    padding: 3%;
    margin-bottom: 8%; }

/*Sección Imagenes con argumentos*/
.contenImagenes {
  margin: 100px 0px;
  text-align: center; }
  .contenImagenes .imagenes {
    text-align: center;
    margin: 0px 10px; }
    .contenImagenes .imagenes h2 {
      margin-bottom: 30px; }
    .contenImagenes .imagenes img {
      margin-bottom: 30px;
      border: solid 4px #37556d; }
    .contenImagenes .imagenes p {
      margin: 0px 15px; }

/*Seccion ventajas y alternativas*/
.ventajas {
  background-color: white;
  text-align: center; }
  .ventajas h1 {
    align-self: center;
    margin-bottom: 50px;
    padding-top: 60px; }

.itemsAlign {
  margin: 5% 0% 10% 0%;
  border-top: solid 3px black;
  border-bottom: solid 3px black; }

.ventajasMargen {
  margin: 4% 0% 4% 0%; }
  .ventajasMargen p {
    text-align: center; }

/* Sección Carrusel */
.carruselContent {
  background: linear-gradient(to right, #75bdd1 17%, #75bdd1 31%, #5e97ac 49%, #37556d 80%); }

/*Pagina de contacto*/
.fondo {
  background-image: url(https://alullan.es/wp-content/uploads/2019/11/domotica-en-el-hogar-beneficios-y-ventajas-1080x675.jpg);
  background-size: cover;
  position: relative;
  z-index: 1; }
  .fondo::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%; }

.formCentrar {
  padding: 0px 10%;
  margin-bottom: 1%; }

.contacto {
  text-align: center;
  padding-top: 70px; }

.entradas input {
  height: 60px;
  transition: all; }
  .entradas input:focus {
    border: solid 3px #37556d; }

.entradas label {
  font-size: 2.2rem;
  text-align: left; }

.entradas select {
  height: 60px;
  transition: all; }
  .entradas select:focus {
    border: solid 3px #37556d; }

.entradas textarea {
  transition: all; }
  .entradas textarea:focus {
    border: solid 3px #37556d; }

.btnContacto {
  background-color: #5e97ac;
  font-size: 1.9rem; }

.margenBtnFooter {
  margin-bottom: 20px; }

/*Pagina Nosotros*/
.nosotros {
  margin-top: 4%;
  text-align: center; }
  .nosotros h1, .nosotros h2 {
    margin-bottom: 4%; }
  .nosotros h3 {
    text-align: right;
    padding-right: 10%;
    margin-top: 50px; }
  .nosotros p {
    font-size: 1.6rem; }

.nosotrosTexto h2 {
  margin-top: 50px; }

.nosotrosTexto p {
  text-align: justify;
  margin: 0px 20px; }

.pasion {
  margin: 10% 0px;
  padding: 5% 0px;
  text-align: center;
  background: linear-gradient(to right, #75bdd1 17%, #75bdd1 31%, #5e97ac 49%, #37556d 80%); }
  .pasion h1 {
    margin-bottom: 5%; }

.pasionTexto h2 {
  margin-bottom: 4%; }

.pasionTexto p {
  text-align: justify;
  margin: 0px 20px;
  font-size: 1.6rem; }

/* Sección FeedBack Clientes */
.feed {
  text-align: center;
  margin-bottom: 10%; }
  .feed img {
    border-radius: 50%;
    transform: scale(0.8); }
  .feed h1 {
    margin-bottom: 5%; }
  .feed p {
    font-size: 1.5rem; }

.marginFeed {
  padding-top: 2%; }

/* Pagina Promociones */
.servicios {
  text-align: center; }
  .servicios h1 {
    margin-top: 60px; }
  .servicios p {
    text-align: justify;
    margin: 60px 0px;
    padding: 0% 25%; }
  .servicios iframe {
    width: 50%;
    border: solid 3px #37556d;
    margin: 70px 0px; }

.bannerOfertas {
  background-image: url(https://www.oirealtor.com/noticias-inmobiliarias/wp-content/uploads/2020/12/domotica4.png); }

.bannerOfertas2 {
  background-image: url(https://blogs.udima.es/ingenieria-industrial/wp-content/uploads/2020/05/domotica1-800x350.png); }

.bannerOfertas3 {
  background-image: url(https://www.beedigital.es/wp-content/uploads/2020/09/a74d1cfeef58d7f69c7210090984f6a3862769902-1.jpg); }

.veleta {
  animation-iteration-count: 4;
  animation-duration: 4s; }

/*Página Tienda*/
.filtros {
  margin-bottom: 7%;
  padding-left: 1%; }
  .filtros a {
    color: black;
    font-size: 2.3em; }

.relleno {
  background: linear-gradient(to right, #75bdd1 17%, #75bdd1 31%, #5e97ac 49%, #37556d 80%); }

.fondoTienda {
  border-right: solid 5px #5e97ac; }

.productos {
  text-align: center;
  margin-bottom: 10%; }
  .productos img {
    border-radius: 20px; }
  .productos h1 {
    margin-bottom: 5%;
    margin-top: 7%; }
  .productos h2 {
    margin-bottom: 7%; }
  .productos p {
    padding: 0px 12%; }

.tarjeta {
  border: solid 3px #37556d;
  margin: 2px;
  padding: 5% 0px 10% 0px; }
  .tarjeta p {
    font-size: 1.6rem; }

.titulos {
  text-align: center;
  margin: 70px 0px; }

/*-------------Diseños adaptables Tablet----------------*/
@media screen and (max-width: 1200px) {
  /* Sección Presentación del sitio*/
  .presentacion {
    justify-content: none; }
    .presentacion .p {
      margin: 0px 100px;
      position: relative;
      bottom: 110px; }
  /*Sección Imagenes con argumentos*/
  .imagenes {
    margin-bottom: 70px; }
  .ventajasMargen {
    margin-bottom: 1%; }
    .ventajasMargen p {
      text-align: center; }
  /* Página Contacto */
  .entradas input {
    height: 35px; }
  .entradas select {
    height: 35px; }
  /*Pagina Nosotros*/
  .pasionImagen {
    border-right: solid 3px #37556d;
    width: 100%;
    order: 1;
    margin-top: 10%; }
  /* Sección Productos y servicios */
  .servicios iframe {
    width: 80%; }
  .servicios p {
    margin: 20px 0px;
    padding: 0% 15%; } }

/*------------------Diseño adaptado para Celulares----------------------*/
@media screen and (max-width: 768px) {
  html {
    font-size: 45%; }
  /*Presentación sitio*/
  .presentacion {
    background-repeat: no-repeat; }
    .presentacion p {
      margin: 150px 5px;
      padding-top: 30px;
      font-size: 2.2rem;
      text-align: justify; }
  .presentacionTitulo {
    width: 70%;
    margin: 50px 0px; }
  /*Sección Argumentación*/
  .argumento h1 {
    margin: 10px 0px 10px 0px;
    text-align: center; }
  .argumento p {
    text-align: justify;
    padding: 10px;
    font-size: 2.1rem; }
  /*Sección Ventajas*/
  .ventajasMargen {
    margin: 10px 0px; }
  /* Sección Carrusel */
  .carruselAncho {
    width: 100%;
    height: 100%; }
  /*Pagina Nosotros*/
  /* Feed */
  .feed img {
    border-radius: 50%;
    transform: scale(0.7); }
  .feed p {
    font-size: 1.7rem; }
  /*Pagina Promociones*/
  .productos {
    width: auto; }
  .servicios iframe {
    width: 100%; }
  .servicios p {
    margin: 60px 0px;
    padding: 0px 5%; }
  /* Ventajas */
  .ventajasMargen {
    transform: scale(0.6); }
  /* Sección Contacto */
  .entradas input {
    height: 35px; }
  .entradas select {
    height: 35px; }
  .btnCentrar {
    margin-top: 20%; } }
