header{
    
    background: $colorBase;
    position: sticky;
    top: 0px;
    z-index: 999;
    
    
}

.navPad{
    text-align: right;
    
}

nav ul{
    
    margin-left: 40px;
}


nav ul li{
    
    list-style-type: none;
    margin:0px 20px;

     a{
        text-decoration: none;
        color: black;
        font-size: 1.9rem;
    }
    
    
}

.linkLogo{
    padding-left: 50px;
   
}

.logoFont{
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    padding: 50px, 0px;
}



.buscador{
     border-radius: 20px;
     height: 30px;
     width: 100%;
     
     font-size: 2rem;
}

.btnBuscador{
    background-color: rgb(55, 85, 109);
    
}



.separarIconos{
    padding-right: 30px;
}


.redes{
    margin: 10px;
    
     img{
    
        transition: height 1s;
        &:hover{
            height: 30px;
        }
    }
}

/* -------------------------Diseño adaptado a tablet--------------------- */

@media screen and (max-width:1200px){
   

    /*Header*/
    
    .buscador{
        display: none;
    }

    .btnBuscador{
        display: none;
    }

    .redes{
        display: none;
    }

    nav ul{
        margin-left: 0px;
    }

    .menuHam{
        font-size: 25px;
    }

    nav ul li{
        text-align: left;
        list-style-type: none;
        margin: 8px 0PX;
        border: solid 3px white;
        &:hover{
            border: solid 3px rgba(94,151,172,1);
        }
    }
}


/*------------------- Diseño adaptado para celular-------------------- */

@media screen and (max-width:768px){
    
    .logoFont{
        font-size: 1.9rem;
    }

    .linkLogo{
        width: auto;
        transform: scale(0.6);
    }

    .menuHam{
        font-size: 25px;
    }

    nav ul li{
        text-align: left;
        list-style-type: none;
        margin: 8px 0PX;
        border: solid 3px white;
        &:hover{
            border: solid 3px rgba(94,151,172,1);
        }
    }

    nav ul li a{
        font-size: 3rem;
    }
    
    

    .buscador{
        display: none;
    }

    .btnBuscador{
        display: none;
    }

    .redes{
        display: none;
    }
}