

$colorBase:linear-gradient(to right, rgba(117,189,209,1) 17%, rgba(117,189,209,1) 31%, rgba(94,151,172,1) 49%, rgba(55,85,109,1) 80%);

/* Utilizando variables para las vistas */

/* Mapa */

$alineacionYfuentes:(centro:center,
 justificado:justify, 
 footer:1.5em);

 /* Creando clase para extender en input de contacto */

.styleContactInput{
    margin-left: 10px;
    border: solid 3px rgba(94,151,172,1);
    font-size: 2rem;
}

.bannerOpacity{
    content: "";
    background-color: rgba($color: #ffff, $alpha: 0.5);
    position:absolute;
    width: 100%;
    height: 100%;
}

.banner{
    width: 100%;
    height: 300px;
    background-size: cover;
    position: relative;
    h1{
        position: relative;
    }
    ul{
        margin-top: 15px;
        
    }

    li{
        font-size: 2rem;
        font-family: 'Orbitron', sans-serif;
        list-style-type: none;
        position: relative;
        
        
    }
    a{
        text-decoration: none;
        color: black;

    }
}
 

/* Creando un Mixin */ /* Se incorporan en todos los bloques de css que tengan valores en Margin y Padding */

@mixin marPad ($margin, $padding) {
    margin: $margin;
    padding: $padding;
    
}

